* 
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color:#222222;
    color:white;
}

/* Cores: #222222  #222222 */

header {
    margin:0px auto;
    width:70%;
    padding-top:35px;

}

h1 {
    font-size:35px;
    font-weight:400;
    display:inline-block;
    width:600px;
}

nav {
    font-size:18px;
    display: inline-block;
    width: 700px;
    text-align: end;
}

a {
    margin-right:50px;
    text-decoration: none;
}

#nav-button {
    border:solid purple 2px;
    padding:10px 30px;
    border-radius: 12px;
    font-size:16px;
}

main {
    width:70%;
    margin:auto;
    padding-top:150px;
}

section {
    width:45%;
    display: inline-block;
    
}

h2 {
    font-size:70px;
    font-weight:bolder;
    margin-bottom:50px;
}

p {
    font-size:;
    line-height:25px;
    font-size: 19px;
    width:80%;
    margin-bottom:50px;
}

input {
    display:;
    margin-bottom:20px;

}






