* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

#top-bar {
   background-color: #122ab2;;
   color: white;
   font-size: 20px;
   padding: 10px 0px;
}

#top-content {
    width: 70%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 #header {
    background-color: #2c70ff;;
    color: white;
    padding: 10px 0px;
}

#header-content {
    width: 50%;
    margin:0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width:20%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}