* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color:#ffff;
    background-color: black;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8.5vh;
}

#logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    width:100px;
    height:;
}

#logo-img {
    max-width: 100px;
    max-height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    margin-right:30px;  
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size:16px;

}
.nav-img {
    width: 50px;  
}   

#img-section {
    background-image: url(img-zarriapi/fundopizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
    height: 70vh;
    opacity: 0.5;
}

#sobre-section {
    height:40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

#sobre-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-evenly;
    width: 400px;
    height:60%;
    line-height: 21px;
    font-size: 19px;
}

#sobre-img {
    width:247px;
    height:247px;
    border:1px solid white;
    margin-left:50px;
}

h2 {
    font-size: 33.5px;
}

#menu-section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 40vh;
}

#menu-container {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: ;
}

/* Parei aqui */

.prato-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    
}


.menu-img {
    width:70px;
    height:70px;
}

.preço {
    display: flex;
    flex-wrap: wrap;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    padding:25px 0 0 0;
}